{% extends 'layout.html.twig' %}

{% block page_content %}
<p><i class="fa fa-pencil-alt"></i> Salut <b>{{ name }}</b></p>
{% endblock page_content %}

{% block javascripts %}
<script>


</script>
{% endblock %}