{% extends 'layout.html.twig' %}

{% block page_content %}
<h2>Derniers articles</h2>
{{ render(controller('App\\Controller\\ArticleController::recentArticles')) }}
{% endblock page_content %}

{% block javascripts %}
<script>


</script>
{% endblock %}